#a{
    height: 100vh;
}
.colonna{
    border: 1px solid black;
    height: 500px;
}

div img{
    width: 100%;
    height: 100%;
}

.col-6{
    padding: 0;
}

#image_container{
    position: relative;
}
#navigation{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, .5);
    padding:10px;
}
#navigation i{
    color: white;
    margin-left: 15px;
}
#navigation i.active{
    color: violet;
}